/* GENERAL */

body { 
    background: url("../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* HEADER */

header {
    margin-top: 40px;
}

/* MAIN */

main {
    width: 70%;
    margin: 1em auto 1em auto;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, .5);
}

section { 
    margin: 1em;
}

section a:hover {
    color: gray;
}

#button-shop {
    margin: 3em 0 0 0;
}

.button:hover {
    border: gray solid 1px;
    color: gray;
    cursor: pointer;
}

#info {
    text-align: left;
}

.social-icon svg:hover {
    fill: gray;
}