/* GENERAL */

*, :after, :before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #323232;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/* HEADER */

header {
    text-align: center;
    margin-top: 2em;
}

header img {
    max-width: 300px;
    min-height: 300px;
}

/* MAIN */

main {
    width: 100%;
    margin: 1em auto 1em auto;
    padding: 1em;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

section a {
    color: white;
}

#button-shop {
    margin: 2em 0 2em 0;
    text-align: center;
}

.button {
    background: none;
    border: white solid 1px;
    color: white;
    padding: 1em 1.5em 1em 1.5em;
    text-decoration: none;
    box-shadow: none;
    font-size: 0.7em;
}

#info {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2em;
}

.social-icon {
    text-decoration: none;
}

.social-icon svg {
    width: 2em;
    margin: 0 0.5em 0 0.5em;
    fill: white;
}