/* GENERAL */

/* HEADER */

header img {
    max-width: 200px;
    min-height: 200px;
}

/* MAIN */

main {
    flex-direction: row;
    align-items: flex-start;
}

section {
    margin: 20px;
}

.url a:hover {
    color: #16a085;
}

/* FOOTER */

footer a:hover {
    color: #16a085;
}

.social-icon svg:hover {
    fill: #16a085;
}