/* GENERAL */

*, :after, :before {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #323232;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: #323232;
  text-decoration: none;
  border-bottom: 1px dotted #323232;
}

h2 {
  text-align: center;
}

section {
  text-align: center;
  margin: 20px auto 20px auto;
}

/* HEADER */

header {
  background-color: #323232;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

header a {
  color: white;
}

#language {
  color: white;
  text-align: right;
  padding-right: 40px;
}

#language a {
  margin: 0 10px 0 10px;
  border-bottom: 1px dotted #ffeaa7;
}

#navigation {
  margin: 20px 30px 0 0;
  font-family: "Poiret One", cursive;
}

#navigation a {
  margin: 0 10px 0 10px;
  line-height: 30px;
  font-size: 24px;
}

/* IN PROGRESS */

#in-progress {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}

#in-progress img {
  height: 30px;
}

/* BUY */

#buy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  text-align: left;
}

#book-photos {
  width: 500px;
}

#book-payment {
  display: none;
}

#book-shipping {
  display: none;
}

#book-info {
  display: none;
}

#buy-button {
  margin: 50px 0 50px 0;
}

#buy-button a {
  font-size: larger;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #323232;
  color: white;
}

/* NEWS */

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px 20px 10px;
  border: none;
}

.news {
  border: 1px solid black;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

/* GALLERY */

#gallery img {
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: white !important;
}

/* FEEDBACK */

#feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px 20px 10px;
  border: none;
}

.feedback {
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.quotation-symbol {
  font-size: 100px;
  line-height: 50px;
  font-family: "Poiret One", cursive;
}

/* FOOTER */

footer {
  background-color: #323232;
  color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

footer a {
  border-bottom: none;
  color: white;
  margin: 16px 7px 0 7px;
}

.footer-icon svg {
  width: 30px;
  fill: white;
	margin: 0 5px 0 5px;
}