/* GENERAL */

*, :after, :before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #323232;
    background-position: center;
    background-repeat: no-repeat;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: Georgia, serif;
}

/* HEADER */

header {
    text-align: center;
    color: white;
    font-style: italic;
    padding: 10px;
}

header img {
    max-width: 100px;
    min-height: 100px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: white;
    margin: 20px auto;
    width: 400px;
}

section img {
    width: 400px;
    height: 300px;
}

section h2 {
    text-align: center;
    color: #34495e;
}

section p {
    padding: 0px 20px;
    color: #323232;
    font-family: 'Trebuchet MS', sans-serif;
}

.url {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.url a {
    color: #2980b9;
}

.tags {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0px;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
    text-align: center;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
}

footer a {
    color: white;
}

.social-icon {
    text-decoration: none;
}

.social-icon svg {
    width: 2em;
    margin: 0 0.5em 0 0.5em;
    fill: white;
}